.listEmployee {
    display: flex;
    width: 60%;
    flex-direction: column;
}

table {
	border-collapse: collapse; 
}

th {
	padding: 10px;
	border: 1px solid #039c43;
}

thead {
    background:#07c95818
}

tbody tr:hover {
    background:#01af4948
}